#sidebar {
  margin-right: 1.5vw;
  /* padding: 20px; */
  width: 14vw;
  height: 100%;
  border-radius: 20px;
}

#sidebar ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#sidebar li:first-child {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

#sidebar li:last-child {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

#sidebar li {
  width: 100%;
  height: 100%;
}

#sidebar li:hover {
  text-decoration: underline;
  background-color: rgb(76, 146, 184);
}

#sidebar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 2.3rem;
  color: var(--color-main);
}

#sidebar a:hover {
  color: var(--color-sidebar-hover);
}

@media screen and (max-width: 1000px) {
  #sidebar {
    width: 22vw;
  }

  #sidebar li a {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  #sidebar {
    width: 25vw;
  }
  #sidebar li a {
    font-size: 1.3rem;
  }
}
